
*, *::before, *::after {
	box-sizing: border-box;
}

.container{
	max-width:1140px;
	margin: 20px auto;
	padding: 150px 300px;
}

.title{
	font-size: 50px;
}

.Author{
	font-size: 20px;
}

p{
	font-size: 15px;
	line-height: 1.7;
}
